@use '../../../../../src/variables.scss' as globalVars;

.root {
  width: 300px;
  background-color: yellow;
  height: 100%;
  flex-grow: 1;
}

.completedIcon {
  svg {
    fill: #07A956;
  }
}

.content {
  display: flex;
  min-width: 0;
  height: globalVars.$min-content-height;
  overflow: hidden;  
}  
