.panelForm{
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}


.itemRowIcon svg {
  fill: var(--core-semantic-info-50, #0A68F1);
}

.itemCaption {
  font-size: 22px !important;
  font-weight: 600;
  line-height: 26px !important;
  margin-top: 4px;
  padding: 0px;
}

.activeCaption {
  color: #0A68F1;
}
  
.itemText {
  font-size: 16px;
  font-weight: 400;
  padding: 0px;
  margin-top: 4px;
  // line-height: 24px;
}

.itemRow {
  width: 100%;
  margin-bottom: 24px;
  // background-color: red;
}

.itemRowIcon {
  // width: 100%;
  // background-color: blue;
  width: 36px;
}

// .itemRowText {
//   // background-color: green;
// }