@use '~@epam/promo/assets/styles/colors' as *;


.rootForm {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  width: 590px;
  
  .formPanel {
    padding: 24px;
    gap: 12px;

    .header {
      margin-top: 0px !important;
    }

    .formContent {
      margin-top: 24px;
    }

    .formHide {
      display: none !important;
    }

  }

  .panelTip {
    padding:  0px 12px;
    border-radius: 6px;
    border: 1px;
    background: var(--core-semantic-primary-5, #F3F8FE);
    border: 1px solid var(--core-semantic-primary-20, #85B4F8)    
  }

  .panelTip svg {
    fill: var(--core-semantic-info-50, #0A68F1);
  }
}
