@use '../../variables.scss' as globalVars;

.panelQuestion {
  padding: 24px;
  gap: 18px;
  border-radius: 6px;
  width: globalVars.$question-width;
}

.questionText {
  margin: 0px;
  padding: 0px;
}