@use '../../variables.scss' as globalVars;

.root {

  max-width: 670px;
  width: fit-content;
  // margin-left: auto;

  .iconWrapper {
    align-self: center;
    width: 54px;
    height: 54px;
    padding-right: 12px;

    svg {
      fill: #FF4242;
    }
  }

  

}
.panelQuestion {
  padding: 24px;
  gap: 6px;
  border-radius: 6px;
  width: globalVars.$question-width;
}
