.root {

  max-width: 670px;
  margin-left: auto;

  .messageWrapper {
    padding: 3px 6px;
    margin-left: 20px;
    background-color: #fafafc;
    border: 1px solid #E1E3EB;
    border-radius: 3px;
  }
}

