@use '~@epam/assets/theme/theme_promo' as *;
@use '~@epam/promo/assets/styles/colors.scss' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

@use '../../../../../variables.scss' as globalVars;

.root {
  width: 300px;
  min-height: globalVars.$min-content-height;
  height: 100%;
  background-color: var(--uui-surface-main);

  .tree {
    overflow: auto;
    border: 1px solid var(--uui-divider);
    border-top: 0;
    border-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }
}