@use '~@epam/assets/theme/theme_promo' as *;
@use '~@epam/promo/assets/styles/colors.scss' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

@use '../../../../../variables.scss' as globalVars;

.root {
  width: 300px;
  min-height: globalVars.$min-content-height;
  max-height: globalVars.$min-content-height;
  height: 100%;
  background-color: var(--uui-surface-main);
}