.root {
  padding: 75px 150px 0 150px;

  .portfolioWrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 550px;
  }

  .stageWrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .cardWrapper {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
}
