$successColor: #07A956;

.modulePanel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-width: 630px;
  flex: 1;
  max-width: 800px;
  padding: 20px;
  justify-content: space-between;

  .textContainer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
  }

  .successText {
    font-weight: 600;
  }

  .successIcon {
    fill: $successColor
  }
}

.buttonPanel {
  width: 100%;
  justify-content: space-between;
}

.moduleBadge{
  max-width: 250px;
}