@use '../../../../variables.scss' as globalVars;

.root {
  width: 100%;
  background-color: white;
  min-height: globalVars.$min-content-height !important;

  .topPanel {
    height: 60px;
    background-color: #FFFFFF;
  }

  .profileTitle {
    margin-top: 0;
    margin-bottom: 0;
  }

  .profileLabel {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .formPanel {
    padding: 24px;
    height: calc(globalVars.$top-bar-content-height - 60px);
    // background-color: blue;

  }

  .bottomPanel {
    height: 60px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    background-color: #FFFFFF;
  }

}
