.root {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 295px;
  min-width: 295px;
  max-width: 295px;
  height: fit-content;
  flex-basis: unset !important;
  padding: 15px;
  border: 1px solid #E1E3EB;
  border-radius: 5px;
  flex-shrink: 0;

  &>h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0a68f1;
  }

  .description {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .stageWrapper {
    cursor: pointer;
    background-color: #ebedf5;
    min-height: 50px;
    width: 118px;
    min-width: 118px;
    max-width: 118px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    border: 1px solid #ebedf5;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &>div {
      display: flex;
      align-items: flex-start;
      gap: 5px;

      .completedIcon {
        fill: #07a956;
        align-self: flex-start;
      }
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .secondColumn{
    margin-left: 6px;
  }
  .stageTitle {
    padding: 0px;
  }

  .completedStage {
    border: 1px solid #97D9B7;
    background-color: #F3FBF7;
  }

  .categoryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    flex: 1;
  }

  .rightPoint {
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
  }

  .rightChevron {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
  }

  .rightEndChevron {
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%, 10% 50%, 0 0);
  }

  .categoryStageWrapper {
    cursor: default;
    position: relative;
    color: white;
    background-color: #6c6f80;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      margin-top: 12px;
      margin-bottom: 12px;
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  .categoryStageWrapperClickable {
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }
}