@use '../../variables.scss' as globalVars;

.root {
  width: 100%;
  min-height: globalVars.$min-content-height !important;
  align-items: flex-start;
  // background-color: green;
}

.portfolioListWrapper {
  align-self: flex-start;
}